@import "./vars.scss";

@font-face {
   font-family: 'Inter';
   src: url('./Font/static/Inter-Bold.ttf');

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-size: $FONT_MAIN;
   font-family: 'Inter';
   line-height: normal;
   color: black;
}

html {
   scroll-behavior: smooth;
}



.wrapper {
   margin: 0 auto;
   width: 100%;
   max-width: 1150px;
   padding: 0 15px;
}

.btn {
   border-radius: 30px;
   padding: 10px 30px;
   background-color: transparent;
   font-size: $FONT_MAIN_SMALL;
   transition: 0.4s;

}

a {
   color: black;
}

.title {
   font-size: $FONT_TITLE;
   font-weight: bold;
   color: $COLOR_PURPLE;

}


@media(max-width:865px) {
   body {
      font-size: $FONT_MAIN_TABLET;

   }



   .btn {
      padding: 10px 20px;

      font-size: $FONT_MAIN_SMALL_TABLET;


   }

   .title {
      font-size: $FONT_TITLE_TABLET;
   }

}

@media(max-width:590px) {
   body {
      font-size: $FONT_MAIN_MOBILE;

   }



   .btn {
      padding: 5px 15px;

      font-size: $FONT_MAIN_SMALL_MOBILE;


   }

   .title {
      font-size: $FONT_TITLE_MOBILE;
   }

   .wrapper {

      padding: 0 10px;
   }
}

@media(max-width:320px) {
   body {
      width: 320px;
   }
}