//COLORS
$COLOR_PURPLE: #AC7AFE;
$COLOR_GRAY: #989898;
$COLOR_YELLOW: #FFB80A;
$COLOR_WHITE: #F9F1FE;

//FONTS
$FONT_MAIN: 14px;
$FONT_MAIN_SMALL: 16px;
$FONT_TITLE_LITTLE: 20px;
$FONT_MAIN_SMALL_MORE: 12px;
$FONT_TITLE: 25px;


//FONTS-TABLET
$FONT_MAIN_TABLET: 12px;
$FONT_MAIN_SMALL_TABLET: 14px;
$FONT_TITLE_LITTLE_TABLET: 18px;
$FONT_MAIN_SMALL_MORE_TABLET: 10px;
$FONT_TITLE_TABLET: 22px;

//FONTS-MOBILE 590
$FONT_MAIN_MOBILE: 10px;
$FONT_MAIN_SMALL_MOBILE: 12px;
$FONT_TITLE_LITTLE_MOBILE: 15px;
$FONT_MAIN_SMALL_MORE_MOBILE: 9px;
$FONT_TITLE_MOBILE: 18px;