//COLORS
$COLOR_ORANGE: #D88049;
$COLOR_BLACK: #373A35;
$COLOR_GRAY: #D9D9D9;




//FONTS
$FONT_MAIN: 16px;
$FONT_MAIN_SMALL: 14px;
$FONT_MAIN_SMALL_MORE: 12px;
$FONT_TITLE: 23px;
$FONT_TITLE_BIG: 26px;


//FONTS-TABLET
$FONT_MAIN_TABLET: 14px;
$FONT_MAIN_SMALL_TABLET: 12px;
$FONT_MAIN_SMALL_MORE_TABLET: 10px;
$FONT_TITLE_TABLET: 23px;
$FONT_TITLE_BIG_TABLET: 25px;


//FONTS-MOBILE
$FONT_MAIN_MOBILE: 12px;
$FONT_MAIN_SMALL_MOBILE: 10px;
$FONT_MAIN_SMALL_MORE_MOBILE: 8px;
$FONT_TITLE_MOBILE: 20px;
$FONT_TITLE_BIG_MOBILE: 22px;