@import "../../styles/vars.scss";


.slider {
   overflow: hidden;
   position: relative;
   width: 100%;

   .slides {
      display: flex;
      transition: transform 0.4s ease-in-out;
      gap: 10px;
   }
}