@import "../../styles/vars.scss";

.accordion {

   overflow: hidden;
   transition: height 0.3s ease-in-out;

   &.open {
      height: auto;
   }

   .accordion-header {
      display: flex;
      align-items: center;
      cursor: pointer;
      align-items: center;

      .accordion-title {

         color: $COLOR_YELLOW;
         font-weight: bold;
         margin-right: 30px;
      }



      .accordion-icon {

         border: 1px solid $COLOR_YELLOW;
         padding: 10px 20px;
         border-radius: 30px;
         display: flex;
         transition: transform 0.3s ease-in-out;

         &.open {
            background-color: $COLOR_YELLOW;

         }



      }
   }

   .accordion-content {
      padding-top: 10px;

   }
}


@media (max-width:600px) {
   .accordion {

      overflow: hidden;
      transition: height 0.3s ease-in-out;

      &.open {
         height: auto;
      }

      .accordion-header {
         display: flex;
         align-items: center;
         cursor: pointer;
         align-items: center;

         .accordion-title {

            color: $COLOR_YELLOW;
            font-weight: bold;
            margin-right: 0px;
         }



         .accordion-icon {

            border: 1px solid $COLOR_YELLOW;
            padding: 10px 20px;
            border-radius: 30px;
            display: flex;
            transition: transform 0.3s ease-in-out;

            &.open {
               background-color: $COLOR_YELLOW;

            }



         }
      }

      .accordion-content {
         padding-top: 10px;

      }
   }
}


@media (max-width:430px) {
   .accordion {


      .accordion-header {


         .accordion-title {

            color: $COLOR_YELLOW;
            font-weight: bold;
            margin-right: 0px;
            font-size: $FONT_MAIN_SMALL_MOBILE;
         }



         .accordion-icon {

           
            padding: 5px 10px;
         



         }
      }

      .accordion-content {
         padding-top: 10px;
         font-size: $FONT_MAIN_SMALL_MOBILE;

      }
   }
}