:root {
  --blue: rgba(56, 60, 96, 1);
  --grey: rgb(230, 230, 230);
  font-family: 'Garamond', sans-serif;
}

button,
input {
  all: unset;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html,
body {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
