//COLORS
$COLOR_PURPLE: #594157;
$COLOR_BROWN: #F2E2D2;




//FONTS
$FONT_MAIN: 16px;
$FONT_MAIN_SMALL: 14px;
$FONT_MAIN_TITLE_SMALL: 20px;
$FONT_TITLE: 24px;


//FONTS-TABLET
$FONT_MAIN_TABLET: 14px;
$FONT_MAIN_SMALL_TABLET: 10px;
$FONT_MAIN_TITLE_SMALL_TABLET: 15px;
$FONT_TITLE_TABLET: 16px;

//FONTS-MOBILE
$FONT_MAIN_MOBILE: 12px;
$FONT_MAIN_SMALL_MOBILE: 9px;
$FONT_MAIN_TITLE_SMALL_MOBILE: 13px;
$FONT_TITLE_MOBILE: 16px;