.container {
  position: relative;
}

.optionsWrapper {
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0 6.07407px 12.1481px rgba(46, 103, 140, 0.12);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 7px 10px;
  gap: 7px;
}

.photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.input {
  background: transparent;
  margin-right: 5px;
  font-size: 12px;
  width: 100%;

  &.border {
    border-bottom: 1px solid #ede4e8;
    color: #b79ba6;

    &::placeholder {
      color: #b79ba6;
    }
  }

  &.borderLess {
    border: none;
    color: #a0627b;
    font-size: 12px;

    &::placeholder {
      color: #a0627b;
    }

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.cursor {
  cursor: pointer;
}

.active {
  background-color: rgba(134, 136, 136, 0.2);
  border-radius: 12px;
}
