.container {
  display: grid;
  grid-row-gap: 17px;
}

.titleWrapper {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 18px;
}

.text {
  font-size: 14px;
}

.input {
  box-shadow: none;
}

.cardEmailInput {
  background: #ffffff;
  border: 1px solid #000;
  //border-radius: 12px;
  padding: 20px 25px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 10px 0;
}

.button {
  background: #ffffff;
  box-shadow: 2px 1px 4px rgba(1, 1, 1, 0.3);
}
