//COLORS
$COLOR_YELLOW: #F8FA90;
$COLOR_WHITE: #F3F0F0;




//FONTS
$FONT_MAIN: 20px;
$FONT_MAIN_SMALL: 16px;
$FONT_MAIN_SMALL_MORE: 12px;
$FONT_TITLE: 25px;


//FONTS-TABLET
$FONT_MAIN_TABLET: 18px;
$FONT_MAIN_SMALL_TABLET: 14px;
$FONT_MAIN_SMALL_MORE_TABLET: 10px;
$FONT_TITLE_TABLET: 23px;

//FONTS-MOBILE
$FONT_MAIN_MOBILE: 16px;
$FONT_MAIN_SMALL_MOBILE: 12px;
$FONT_MAIN_SMALL_MORE_MOBILE: 8px;
$FONT_TITLE_MOBILE: 20px;