.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 5%;

  .wrapperImgs {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }

  .nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    p {
      color: #000;
      font-size: 26px;
    }
  }

  .btns {
    width: 25%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    div {
      border-radius: 30px;
      background: #87857c;
      color: #fffdf4;
      font-size: 22px;
      padding: 5px 36px;
    }
  }

  .menuBtn {
    display: none;
  }

  @media (max-width: 390px) {
    .wrapperImgs,
    .nav,
    .btns {
      display: none;
    }

    .menuBtn {
      display: block;
      border-radius: 30px;
      background: #87857c;
      color: #fffdf4;
      font-size: 15px;
      padding: 5px 20px;
      cursor: pointer;
    }

    .menu {
      display: none;
      flex-direction: column;
      background: #87857c;
      color: #fffdf4;
      padding: 10px;
      position: absolute;
      top: 30px;
      border-radius: 15px;

      p {
        font-size: 12px;
        margin: 5px 0;
        cursor: pointer;
      }

      img {
        width: 50%;
        height: auto;
      }
    }

   .menuBtn,
    .menu {
      display: flex;
      margin-left: 70%;
    }
  }
}
