//COLORS
$COLOR_MAIN: #FFFAE5;
$COLOR_GREEN: #4F804C;
$COLOR_YELLOW_TEXT: #B9A758;
$COLOR_YELLOW: #EED774;


//FONTS
$FONT_MAIN: 16px;
$FONT_MAIN_SMALL: 14px;
$FONT_MAIN_SMALL_MORE: 12px;
$FONT_TITLE: 25px;


//FONTS-TABLET
$FONT_MAIN_TABLET: 14px;
$FONT_MAIN_SMALL_TABLET: 12px;
$FONT_MAIN_SMALL_MORE_TABLET: 10px;
$FONT_TITLE_TABLET: 20px;

//FONTS-MOBILE
$FONT_MAIN_MOBILE: 12px;
$FONT_MAIN_SMALL_MOBILE: 10px;
$FONT_MAIN_SMALL_MORE_MOBILE: 10px;
$FONT_TITLE_MOBILE: 18px;