:root {
  --grey: #bbb59b;
  --lightenGrey: #d9d4bf;
  --ivory: #fff4df;
  --pomade: #af3b3b;
  --blacken: #181818;

  font-family: 'M PLUS 1p', sans-serif;
}

button,
input {
  all: unset;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
