@import "../../styles/vars.scss";

.reviews {
   margin-top: 100px;

   .wrapper {
      .reviews_content {
         .slide_content {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .slide {
               padding-right: 20px;
               padding-top: 30px;
               display: flex;
               border: 3px solid black;

               gap: 10px;

               .img_and_name {
                  width: 40%;

                  .slider_image {

                     padding-left: 20px;
                  }

                  .name {
                     margin-top: 40px;
                     text-align: center;
                     padding: 10px;
                     font-size: $FONT_MAIN_TABLET;
                     border-top: 3px solid black;
                     border-right: 3px solid black;
                     background-color: $COLOR_ORANGE;
                  }
               }

               .text {
                  width: 60%;

                  font-size: $FONT_MAIN_TABLET;
               }

            }
         }


      }
   }
}


@media (max-width:990px) {
   .reviews {
      margin-top: 100px;

      .wrapper {
         .reviews_content {
            .slide_content {
               display: flex;
               flex-direction: column;
               gap: 30px;

               .slide {
                  padding-right: 20px;
                  padding-top: 30px;
                  display: flex;
                  border: 3px solid black;

                  gap: 10px;

                  .img_and_name {
                     width: 40%;

                     .slider_image {

                        padding-left: 20px;
                     }

                     .name {
                        margin-top: 40px;
                        text-align: center;
                        padding: 10px;
                        font-size: $FONT_MAIN_TABLET;
                        border-top: 3px solid black;
                        border-right: 3px solid black;
                        background-color: $COLOR_ORANGE;
                     }
                  }

                  .text {
                     width: 60%;

                     font-size: $FONT_MAIN_TABLET;
                  }

               }
            }


         }
      }
   }
}


@media (max-width:700px) {
   .reviews {
      margin-top: 100px;

      .wrapper {
         .reviews_content {
            .slide_content {
               display: flex;
               flex-direction: column;
               gap: 30px;

               .slide {
                  padding-right: 20px;
                  padding-top: 30px;
                  display: flex;
                  border: 3px solid black;

                  gap: 10px;

                  .img_and_name {
                     width: 40%;

                     .slider_image {

                        padding-left: 20px;
                     }

                     .name {
                        margin-top: 40px;
                        text-align: center;
                        padding: 10px;
                        font-size: $FONT_MAIN_MOBILE;
                        border-top: 3px solid black;
                        border-right: 3px solid black;
                        background-color: $COLOR_ORANGE;
                     }
                  }

                  .text {
                     width: 60%;

                     font-size: $FONT_MAIN_MOBILE;
                  }

               }
            }


         }
      }
   }
}

@media (max-width:560px) {
   .reviews {
      margin-top: 100px;

      .wrapper {
         padding: 0px;

         .reviews_content {
            .slide_content {
               display: flex;
               flex-direction: column;
               gap: 20px;

               .slide {
                  padding-right: 10px;
                  padding-top: 20px;
                  display: flex;
                  border: 3px solid black;

                  gap: 10px;

                  .img_and_name {
                     width: 35%;

                     .slider_image {

                        padding-left: 10px;
                     }

                     .name {
                        margin-top: 20px;
                        text-align: center;
                        padding: 5px;
                        font-size: $FONT_MAIN_SMALL_MOBILE;
                        border-top: 3px solid black;
                        border-right: 3px solid black;
                        background-color: $COLOR_ORANGE;
                     }
                  }

                  .text {
                     padding-top: 20px;
                     width: 60%;

                     font-size: $FONT_MAIN_SMALL_MOBILE;
                  }

               }
            }


         }
      }
   }
}